<div class="group">
    <div class="column">
        <h4>Verification is needed.</h4>
        <h5 class="element">Check your email.</h5>
        <p class="igx-typography__body-1 element">Your email hasn't been verified yet. Please verify your email to complete registration. Check your email and follow the instructions to verify your account.</p>
        <!-- <button igxButton="raised" igxRipple class="user-input" routerLink="/account/login">Sign in</button> -->
        <div class="group_2 row">
            <p class="igx-typography__body-2 text">Didn't get the email?</p>
            <a class="igx-typography__body-2 hyperlink" routerLink="/account/resend-confirmation">Resend Email</a>
        </div>
    </div>
</div>
