/* You can add global styles to this file, and also import other style files */
// Standard CSS normalize, comment out if not required or using a different module
@import "~minireset.css/minireset";



html, body {
  height: 100%;
}

@import '~igniteui-angular/lib/core/styles/themes/index';

@include igx-core();
@include igx-typography();

$custom-palette: igx-palette(
  $primary: #217346,
  $secondary: #217346,
  $surface: #222222,
  $error: #a80000,
  $success: #107c10,
  $warn: #797673,
  $grays: #ffffff);
@include igx-theme($palette: $custom-palette, $schema: $dark-fluent-schema);

body {
  background: var(--igx-surface-500);
  color: var(--igx-surface-500-contrast);
}

.igx-typography {
  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
  }
}

.outer-wrapper > *:not(router-outlet) {
  width: 100%;
}
