/* Line added via automated migrations. */
@use "igniteui-angular/theming" as *;
/* You can add global styles to this file, and also import other style files */
// Standard CSS normalize, comment out if not required or using a different module
@import "~minireset.css/minireset";

@import '~monaco-editor/min/vs/editor/editor.main.css';

html, body {
  height: 100%;
}



@include core();
@include typography();

$custom-palette: palette(
  $primary: #217346,
  $secondary: #217346,
  $surface: #222222,
  $error: #a80000,
  $success: #107c10,
  $warn: #797673,
  $gray: #ffffff);

$include: (igx-avatar,
          igx-navbar,
          igx-ripple,
          igx-list,
          igx-icon,
          igx-overlay,
          igx-button,
          igx-label,
          igx-dialog,
          igx-input-group,
          igx-input,
          igx-checkbox,
          igx-drop-down,
          igx-tooltip);

@include theme($palette: $custom-palette,
                   $schema: $dark-fluent-schema,
                   $exclude: map-keys(map-remove($components, $include...),));

body {
  background: var(--ig-surface-500);
  color: var(--ig-surface-500-contrast);
}

.ig-typography {
  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
  }
}

.outer-wrapper > *:not(router-outlet) {
  width: 100%;
}
