<div class="row container">
    <form class="group column" [formGroup]="form" (ngSubmit)="resendEmail()">
        <h5 class="element">Resend Email Confirmation</h5>
        <igx-input-group type="border" class="user-input" >
            <igx-suffix>
                <igx-icon family="material" class="icon">email</igx-icon>
            </igx-suffix>
            <input type="text" igxInput formControlName="email"/>
            <label igxLabel>Email</label>
            <igx-hint *ngIf="fieldHasError('email', 'required')">Please enter your email.</igx-hint>
            <igx-hint *ngIf="fieldHasError('email', 'email')">Please enter a valid email address.</igx-hint>
        </igx-input-group>
        <button igxButton="raised" igxRipple class="user-input">Resend</button>
    </form>
</div>
