<div>
    <igx-icon font="material" [active]="true" color="var(--igx-grays-800)" class="icon icon-help"
        [igxToggleAction]="helpDropDown" [overlaySettings]="overlaySettings" [igxDropDownItemNavigation]="helpDropDown">
        help</igx-icon>
    <igx-drop-down height="max-content" #helpDropDown class="drop-down">
        <a class="menu-item-help" href="https://github.com/brianlagunas/Excel2Json/issues" target="_blank">
            <igx-drop-down-item [disabled]="false" [isHeader]="false" class="dropdown-item">
                Submit an Issue
            </igx-drop-down-item>
        </a>
        <a class="menu-item-help" href="https://github.com/sponsors/brianlagunas/" target="_blank">
            <igx-drop-down-item [disabled]="false" [isHeader]="false" class="dropdown-item">
                Support this Project
            </igx-drop-down-item>
        </a>
    </igx-drop-down>
</div>