<div class="nav-bar row">
  <div class="row-layout_2 row">
    <img src="../../assets/images/logo.svg" class="image" />
  </div>
</div>
<div class="row-layout_1 row">
  <div class="row-layout row">
    <div class="column-layout_3 column" (dragover)="onDragOver($event)" (drop)="onDrop($event)">
      <img src="../../assets/images/dragdropfiles.svg" class="image_1" />
      <h6 class="title">Drag &amp; Drop Files</h6>
      <p class="igx-typography__subtitle-1 title_1">Drop any CSV or Excel file or</p>
      <button (buttonClick)="fileInput.click()" igxButton="raised" [disabled]="false" class="button">
        <span>BROWSE YOUR COMPUTER FILES</span>
      </button>
      <input #fileInput (change)="onFileInputChanged($event)" style="display: none;" type="file" accept=".csv, .xlsx">
    </div>
    <div class="column-layout_1 column"></div>
    <div class="column-layout_2 column">
      <img src="../../assets/images/newfile.svg" class="image_1" />
      <h6 class="title">Fresh start?</h6>
      <p class="igx-typography__subtitle-1 title_1">Begin with a blank spreadsheet</p>
      <button (buttonClick)="onNewFileClicked()" igxButton="outlined" [disabled]="false" class="button">
        <span>CREATE NEW EXCEL FILE</span>
      </button>
    </div>
  </div>
</div>
<igx-dialog [closeOnOutsideSelect]="true" [closeOnEscape]="true" class="processing-file-dialog">
  <div>
    <div class="column-layout column">
      <p class="igx-typography__body-2 text">Processing File...</p>
      <igx-icon font="material" [active]="true" color="var(--igx-primary-500)" class="icon">donut_large</igx-icon>
    </div>
  </div>
</igx-dialog>
