:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.row {
  display: flex;
}

.row-layout {
  align-items: flex-end;
  position: relative;
  min-width: 50px;
}

.row-layout_1 {
  margin: 0 0 24px;
  align-items: center;
  position: relative;
  min-width: 50px;
}
.row-layout_2 {
  flex: 1 1 0;
  align-items: stretch;
  min-height: 50px;
  position: relative;
  min-width: 50px;
}

.column {
  display: flex;
  flex-direction: column;
}

.column-layout {
  overflow: auto;
  flex: 1 1 0;
  align-items: stretch;
  min-height: 50px;
  min-width: 50px;
}

.column-layout_2 {
  margin: 30px 12px 17px;
  align-items: stretch;
  min-height: 50px;
  position: relative;
  min-width: 50px;
}

.avatar {
  margin: 0 10px 0 0;
  flex: 0 0 auto;
}

.title_1 {
  color: var(--igx-grays-900);
  height: max-content;
  min-width: min-content;
  flex: 0 0 auto;
}

.input-group {
  min-width: 460px;
  margin: 0 16px 0 0;
  height: max-content;
  flex: 0 0 auto;
}

.button_1 {
  min-width: min-content;
  height: max-content;
  flex: 0 0 auto;
}

.dialog-window {
  min-width: 0;
  min-height: 0;
  flex: 0 0 auto;
}

.loading-icon{
  font-size: 56px;
  width: 56px;
  height: 56px;
  margin-top: 15px;
  margin-bottom: -10px;
}
