<div class="nav-bar row">
  <div class="row-layout_3 row">
    <img src="../../assets/images/logo.svg" routerLink="/upload" class="image" />
    <h5 class="title">|</h5>
    <h6 class="title_2">{{fileName}}</h6>
  </div>
  <div class="row-layout_3 row">
    <button igxButton="flat" igxButtonColor="var(--igx-grays-900)" igxButtonBackground="transparent" [disabled]="false" routerLink="/upload" class="button_1">
      <span>UPLOAD ANOTHER FILE</span>
    </button>
    <button (buttonClick)="onDownloadJsonClicked()" igxButton="outlined" [disabled]="false" class="button">
      <span>DOWNLOAD JSON</span>
    </button>
    <button (buttonClick)="onGetLinkClicked()" igxButton="raised" igxButtonColor="var(--igx-primary-700)" igxButtonBackground="var(--igx-grays-900)" [disabled]="false" [igxToggleAction]="dialogWindow" class="button_1">
      <span>GET LINK</span>
    </button>
  </div>
</div>
<div class="row-layout_2 row">
  <div class="column-layout column">
    <igx-spreadsheet #spreadsheet height="100%" width="100%" style="background-color: white;"
                     (activeTableChanged)="onActiveTableChanged($event.args)"
                     (activeWorksheetChanged)="onActiveWorksheetChanged($event.args)"
                     (ActionExecuted)="onActionExecuted($event.args)"
                     (editModeExited)="onEditModeExited()"></igx-spreadsheet>
  </div>
  <div class="column-layout column">
    <ngx-monaco-editor [options]="editorOptions" [(ngModel)]="code" style="height: 100%; width: 100%;"></ngx-monaco-editor>
  </div>
</div>
<igx-dialog [closeOnOutsideSelect]="true" [closeOnEscape]="true" #dialogWindow class="dialog-window">
  <div>
    <div class="column-layout_2 column">
      <div class="row-layout_1 row">
        <igx-avatar [roundShape]="true" color="var(--igx-grays-800)" bgColor="var(--igx-primary-500)" size="small" icon="check" class="avatar"></igx-avatar>
        <h5 class="title_1">Link to file created</h5>
      </div>
      <div class="row-layout row">
        <igx-input-group type="box" placeholder class="input-group">
          <input type="text" id="shareLinkInputField" [required]="false" [disabled]="false" igxInput [value]="shareLink" />
        </igx-input-group>
        <button (buttonClick)="onCopyShareLinkClicked()" igxButton="raised" [disabled]="false" [igxToggleAction]="dialogWindow" class="button_1">
          <span>COPY</span>
        </button>
      </div>
    </div>
  </div>
</igx-dialog>
