<div class="group-logo column">
	<img routerLink="/" src="../../assets/images/logo-big.svg" class="image-logo" style="cursor: pointer;"/>
</div>
<div class="form-container">
	<div class="group row">
        <div class="group_1 column">
            <h5 class="h5">Register</h5>
            <igx-input-group type="border" class="user-input">
                <igx-suffix>
                    <igx-icon family="material" class="icon">person</igx-icon>
                </igx-suffix>
                <input type="text" [required]="false" igxInput [(ngModel)]="email" />
                <label igxLabel>Email</label>
            </igx-input-group>
            <igx-input-group type="border" class="input">
                <igx-suffix>
                    <igx-icon family="material" class="icon" (click)="showHidePassword()">{{ showPassword ? 'visibility_off' : 'visibility' }}</igx-icon>
                </igx-suffix>
                <input [type]="showPassword ? 'text' : 'password'" [required]="false" igxInput [(ngModel)]="password"/>
                <label igxLabel>Password</label>
            </igx-input-group>
            <button igxButton="raised" igxRipple class="user-input" (click)="register()">Create New Account</button>
            <a routerLink="/login" class="igx-typography__body-2 hyperlink">Already have an account?</a>
        </div>
    </div>
</div>
