<div class="group-logo column">
    <img routerLink="/" src="../../assets/images/logo-big.svg" class="image-logo" style="cursor: pointer;" />
</div>
<div class="form-container">
    <form [formGroup]="form" (ngSubmit)="register()">
        <div class="group row">
            <div class="group_1 column">
                <h5 class="h5">Register</h5>
                <igx-input-group type="border" class="user-input">
                    <igx-suffix>
                        <igx-icon family="material" class="icon">person</igx-icon>
                    </igx-suffix>
                    <input name="email" type="email" igxInput formControlName="email" />
                    <label igxLabel>Email</label>
                    <igx-hint *ngIf="(form.get('email')?.touched || form.get('email')?.dirty)&& form.get('email')?.errors?.required">Please enter your email.</igx-hint>
                    <igx-hint *ngIf="(form.get('email')?.touched || form.get('email')?.dirty) && form.get('email')?.errors?.email">Please enter a valid email address.</igx-hint>
                </igx-input-group>
                <igx-input-group type="border" class="input">
                    <igx-suffix>
                        <igx-icon family="material" class="icon" (click)="showHidePassword()">{{ showPassword ?
                            'visibility' : 'visibility_off' }}</igx-icon>
                    </igx-suffix>
                    <input [type]="showPassword ? 'text' : 'password'" igxInput formControlName="password" />
                    <label igxLabel>Password</label>
                    <igx-hint *ngIf="(form.get('password')?.touched || form.get('password')?.dirty) && form.get('password')?.errors?.required">Please enter a password.</igx-hint>
                    <igx-hint *ngIf="(form.get('password')?.touched || form.get('password')?.dirty) && form.get('password')?.errors?.minlength">Password must be at least 6 characters.</igx-hint>
                </igx-input-group>
                <igx-input-group type="border" class="input">
                    <igx-suffix>
                        <igx-icon family="material" class="icon" (click)="showHideConfirmPassword()">{{
                            showConfirmPassword ? 'visibility' : 'visibility_off' }}</igx-icon>
                    </igx-suffix>
                    <input [type]="showConfirmPassword ? 'text' : 'password'" igxInput
                        formControlName="passwordConfirm" />
                    <label igxLabel>Confirm Password</label>
                    <igx-hint *ngIf="(form.get('passwordConfirm')!.touched  || form.get('passwordConfirm')?.dirty) && form.get('passwordConfirm')!.errors != null">Passwords do not match.</igx-hint>
                </igx-input-group>
                <button type="submit" igxButton="raised" igxRipple class="user-input" >Create
                    New Account</button>
                <a routerLink="/login" class="igx-typography__body-2 hyperlink">Already have an account?</a>
            </div>
        </div>
    </form>
</div>